body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  color: #444;
  overflow-x: hidden;
}

body.standard {
  background: linear-gradient(101deg, #000000, #00b3ff);
  color: white;
}

body.light {
  background: linear-gradient(100deg, #c15858, #64a3be);
  color: black;
}

body.darker {
  background: linear-gradient(100deg, #001214, #001f29);
  color: white;
}

.standard-theme {
  background-image: linear-gradient(101deg, #000000, #00b3ff);
}

.light-theme {
  background-image: linear-gradient(100deg, #c15858, #64a3be);
}

.darker-theme {
  background-image: linear-gradient(100deg, #001214, #001f29);
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #f9f7f7;
  margin-bottom: 20px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

form input, form select, form button {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

form input:focus, form select:focus {
  border-color: #ff6f61;
  box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
}

form button {
  background: linear-gradient(90deg, #ff6f61, #ff9a76);
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #f4f4f4;
}

table th {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

table tr:hover {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(228, 236, 7, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

table button {
  background: #ff6f61;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

table button:hover {
  background: #ff9a76;
}

#summary {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.flexrow-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.theme-selector {
  border: 1px solid #d1dae3;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  transition: transform 150ms ease-in-out, box-shadow 200ms ease-in-out;
}

.theme-selector:hover {
  box-shadow: white 0 0 8px;
  cursor: pointer;
}

.theme-selector:active {
  transform: scale(0.95);
}

#datetime {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 1.5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.instruction-btn {
  background-color: #4c96af;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.instruction-btn:hover {
  background-color: #457aa0;
}

.instruction-panel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.panel-content {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  text-align: left;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.close-btn {
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: rgb(56, 191, 23);
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 10px 0;
}
